<div id="<%= dom_id user %>">
  
  <div class="card-body"> 
    <%= link_to image_tag('dd.jpg',style: "width:150px;border-radius:50%;border:2px;solid:#0d6efd;"),user,class:'mb-3'%>
  </div>
  <h4>
    <%= user.name %>
  </h4>
</div>
